<a href="https://colab.research.google.com/github/2220094/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#課題１

## 構想案

表を使って来年のカレンダーを作成する。行としてその月の第何週目かを、列として何曜日かを設ける。可能であれば祝日の列などを設け、祝日の情報を得られるようにする。

## プログラム

In [29]:
import pandas as pd

day = ['日','月','火','水','木','金','土']
day_E = ['Sun.','Mon.','Tue.','Wed.','Thu.','Fri.','Sat.']
md = [31,28,31,30,31,30,31,31,30,31,30,31]
yd = 365

sumd = []
x = 0
for p in range(len(md)):
  x += md[p]
  sumd.append(x)

#for i in range (1,13):
df = pd.DataFrame()
for i in range (len(day)):
  df[day[i]] = [day_E[i]]

x = 0
y = 0

for j in range (yd//7+1):
  d = 7 * j

  d1 = d + 1
  cd1 = d1 - y
  if d1 == sumd[x]:
    y = sumd[x]
    x += 1

  if d1 == 365:
    d -= 365
    x = 11
    y = 0

  d2 = d + 2
  cd2 = d2 - y
  if d2 == sumd[x]:
    y = sumd[x]
    x += 1

  d3 = d + 3
  cd3 = d3 - y
  if d3 == sumd[x]:
    y = sumd[x]
    x += 1

  d4 = d + 4
  cd4 = d4 - y
  if d4 == sumd[x]:
    y = sumd[x]
    x += 1

  d5 = d + 5
  cd5 = d5 - y
  if d5 == sumd[x]:
    y = sumd[x]
    x += 1

  d6 = d + 6
  cd6 = d6 - y
  if d6 == sumd[x]:
    y = sumd[x]
    x += 1

  d7 = d + 7
  cd7 = d7 - y
  if d7 == sumd[x]:
    y = sumd[x]
    x += 1


  df = df.append( {'日':cd1,
                    '月':cd2,
                    '火':cd3,
                    '水':cd4,
                    '木':cd5,
                    '金':cd6,
                    '土':cd7,},ignore_index=True)  


#df = df.drop(0)

index = ['月-週','1-1','1-2','1-3','1-4',
            '1-5,2-1','2-2','2-3','2-4',
            '2-5,3-1','3-2','3-3','3-4',
            '3-5,4-1','4-2','4-3','4-4','4-5',
            '4-6,5-1','5-2','5-3','5-4',
            '5-5,6-1','6-2','6-3','6-4',
            '6-5,7-1','7-2','7-3','7-4','7-5',
            '7-6,8-1','8-2','8-3','8-4',
            '8-5,9-1','9-2','9-3','9-4','9-5',
            '10-1','10-2','10-3','10-4',
            '10-5,11-1','11-2','11-3','11-4',
            '11-5,12-1','12-2','12-3','12-4','12-5','12-6']

df.index = index


hdw = [1,2,6,8,12,17,18,29,32,38,41,44,47]
hd = []
hd_index = [] #次のセルで祝日のついて回答するときに使うリスト

for k in range (len(df)):
  if k == 0 :
    hd.append('Holiday')
  elif k in hdw :
    hd.append('○')
    hd_index.append(index[k])
  else :
    hd.append('×')

df['祝日'] = hd


df

              日     月     火     水     木     金     土       祝日
月-週        Sun.  Mon.  Tue.  Wed.  Thu.  Fri.  Sat.  Holiday
1-1           1     2     3     4     5     6     7        ○
1-2           8     9    10    11    12    13    14        ○
1-3          15    16    17    18    19    20    21        ×
1-4          22    23    24    25    26    27    28        ×
1-5,2-1      29    30    31     1     2     3     4        ×
2-2           5     6     7     8     9    10    11        ○
2-3          12    13    14    15    16    17    18        ×
2-4          19    20    21    22    23    24    25        ○
2-5,3-1      26    27    28     1     2     3     4        ×
3-2           5     6     7     8     9    10    11        ×
3-3          12    13    14    15    16    17    18        ×
3-4          19    20    21    22    23    24    25        ○
3-5,4-1      26    27    28    29    30    31     1        ×
4-2           2     3     4     5     6     7     8        ×
4-3           9    10    11    12    13    14    15        ×
4-4          16    17    18    19    20    21    22        ×
4-5          23    24    25    26    27    28    29        ○
4-6,5-1      30     1     2     3     4     5     6        ○
5-2           7     8     9    10    11    12    13        ×
5-3          14    15    16    17    18    19    20        ×
5-4          21    22    23    24    25    26    27        ×
5-5,6-1      28    29    30    31     1     2     3        ×
6-2           4     5     6     7     8     9    10        ×
6-3          11    12    13    14    15    16    17        ×
6-4          18    19    20    21    22    23    24        ×
6-5,7-1      25    26    27    28    29    30     1        ×
7-2           2     3     4     5     6     7     8        ×
7-3           9    10    11    12    13    14    15        ×
7-4          16    17    18    19    20    21    22        ○
7-5          23    24    25    26    27    28    29        ×
7-6,8-1      30    31     1     2     3     4     5        ×
8-2           6     7     8     9    10    11    12        ○
8-3          13    14    15    16    17    18    19        ×
8-4          20    21    22    23    24    25    26        ×
8-5,9-1      27    28    29    30    31     1     2        ×
9-2           3     4     5     6     7     8     9        ×
9-3          10    11    12    13    14    15    16        ×
9-4          17    18    19    20    21    22    23        ○
9-5          24    25    26    27    28    29    30        ×
10-1          1     2     3     4     5     6     7        ×
10-2          8     9    10    11    12    13    14        ○
10-3         15    16    17    18    19    20    21        ×
10-4         22    23    24    25    26    27    28        ×
10-5,11-1    29    30    31     1     2     3     4        ○
11-2          5     6     7     8     9    10    11        ×
11-3         12    13    14    15    16    17    18        ×
11-4         19    20    21    22    23    24    25        ○
11-5,12-1    26    27    28    29    30     1     2        ×
12-2          3     4     5     6     7     8     9        ×
12-3         10    11    12    13    14    15    16        ×
12-4         17    18    19    20    21    22    23        ×
12-5         24    25    26    27    28    29    30        ×
12-6         31     1     2     3     4     5     6        ×

In [38]:
#各月の存在する週
week = ['1-1','1-2','1-3','1-4','1-5',
        '2-1','2-2','2-3','2-4','2-5',
        '3-1','3-2','3-3','3-4','3-5',
        '4-1','4-2','4-3','4-4','4-5','4-6',
        '5-1','5-2','5-3','5-4','5-5',
        '6-1','6-2','6-3','6-4','6-5',
        '7-1','7-2','7-3','7-4','7-5','7-6',
        '8-1','8-2','8-3','8-4','8-5',
        '9-1','9-2','9-3','9-4','9-5',
        '10-1','10-2','10-3','10-4','10-5',
        '11-1','11-2','11-3','11-4','11-5',
        '12-1','12-2','12-3','12-4','12-5','12-6']

#祝日のある週
hd_week = ['1-1', '1-2', '2-2', '2-4', '3-4', '4-5', '4-6', '5-1', '7-4', '8-2', '9-4', '10-2', '10-5', '11-1', '11-4']

#祝日の情報
hd_info = ['1月1日(元日)、1月2日(振替休日)','1月9日(成人の日)','2月11日(建国記念の日)',
           '2月23日(天皇誕生日)','3月21日(春分の日)','4月29日(昭和の日)',
           '5月3日(憲法記念日)、5月4日(みどりの日)、5月5日(こどもの日)','7月17日(海の日)',
           '8月11日(山の日)','9月18日(敬老の日)、9月23日(秋分の日)','10月9日(スポーツの日)',
           '11月3日(文化の日)','11月23日(勤労感謝の日)']


print('カレンダーを見て、知りたい祝日があれば何月何週かを入力してください。(半角数字で入力)')
print('なければ、何も入力せず Enterキーを押してください。')

while True :
  input_m = input('何月？ : ')
  input_w = input('何週？ : ')

  input_mw = input_m + '-' + input_w

  if input_mw == '-' :
    print('入力がなかったため動作を終了しました。')
    break

  elif input_mw not in week :
    print(f'{input_m}月{input_w}週はありません。')

  elif input_mw in week:
    if input_mw not in hd_week or input_mw == '4-6' or input_mw == '10-5':

      print(f'{input_m}月{input_w}週に祝日はありません。')

    else :
      if input_mw == '5-1' :
        input_mw = '4-6,5-1'
      if input_mw == '11-1' :
        input_mw = '10-5,11-1'
      z = hd_index.index(input_mw)
      print(f'{input_m}月{input_w}週の祝日は、{hd_info[z]}です。')

カレンダーを見て、知りたい祝日があれば何月何週かを入力してください。(半角数字で入力)
なければ、何も入力せず Enterキーを押してください。
何月？ :
何週？ :
入力がなかったため動作を終了しました。